html,body{margin:0; padding:0;height:10%;}
body {
    font-family: 'Roboto', sans-serif;font-weight: 300;
}


h1{padding:40px;padding-bottom: 0}
p{color:#fff}

.container-slider{position: relative; width:40%; margin: 40px auto;}



.slider-nav div{ text-align: center; display: block}

.slider-for div img,
.slider-nav div img{width:10%; float:left;}

.slider-for div h3,
.slider-nav div h4{float:left; width: 10%}


.slick-dots{bottom:-50px!important;}
.slick-dots li button:before{font-size: 17px!important;}

.slick-slider {
    margin-bottom: 0px!important;
}
.slick-prev{left: -30px!important}

.slick-prev:before,
.slick-next:before{
   color: #000!important;
}