<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Only Navigation Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/menu.css">
</head>
<body>

    <label for="show-menu" class="show-menu">Mostra Menu</label>
    <input type="checkbox" id="show-menu" role="button">
        <ul id="menu">
        {%for menus in menu%}
        <li>
            <a href="{{menus[6]}}">{{menus[4]}}</a>
            <ul class="hidden">
                 {%for submenus in submenu%}
            {%if menus[1] == submenus[2]:%}
            <li>
				 <a style="margin-left: 12%;" href="{{submenus[6]}}">{{submenus[4]}}</a>
            </li>
           {%endif%}

            {%endfor%}
            </ul>
        </li>
           {%endfor%}

    </ul>
</body>

</html>
