 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SIL MUGELLO</title>
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="static/css/w3.css">
<script src="static/js/jquery.js" type="text/javascript"></script>
<script src="static/js/s3Slider.js" type="text/javascript"></script>
<body>

<div class="w3-container w3-white">
  <center><h1>Pro Loco San Piero a Sieve</h1></center>
    {% include 'menu_114.html' %}
<div style=" text-align: justify;">
    <p>IL MUGELLO <br>

Il Mugello é un'ampia conca delimitata a nord dall'arco montuoso dei rilievi dell'Appennino, a sud dai contrafforti del Monte Giovi e del Monte Senario che dividono dalla vallata fiorentina, ad ovest dai monti di Vernio e della Calvana oltre i quali si estende la provincia di Prato, a est dall'Alpe di San Benedetto e del Falterona (dal quale nasce l'Arno).

Qui troviamo i borghi di Vaglia, Barberino di Mugello, Scarperia, Borgo San Lorenzo, Vicchio, Dicomano e San Piero a Sieve.

Attraversato fin dall'antichità da due percorsi viari di grande rilevanza per la comunicazione tra i popoli dell'Italia centrale e quelli oltre-appenninici e padani - la Bolognese (tracciata dai romani) e la Faentina (antica strada etrusca) - il Mugello è stato crocevia di personaggi ed eserciti, trovandosi spesso coinvolto in episodi non sempre determinati dai suoi abitanti.

La suggestione paesaggistica è arricchita dall'invaso di Bilancino, un grande lago artificiale che si colloca ad ovest di San Piero a Sieve, lungo la strada che conduce a Barberino.</p></div>

    {% include 'slidem.html' %}
</div>

<div class="w3-row-padding">





</div>

</body>
</html>
