 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="static/css/w3.css">
<script src="static/js/jquery.js" type="text/javascript"></script>
<script src="static/js/s3Slider.js" type="text/javascript"></script>
<body>

<div class="w3-container w3-white">
  <center><h1>Pro Loco San Piero a Sieve</h1></center>
    {% include 'menu.html' %}
<div style=" text-align: justify;">
    <p>SAN PIERO A SIEVE <br>



"Dove la più bassa gola della Carza stretta tra le pendici del Poggio del Trebbio e di Monte Cacioli si apre in un anfiteatro meraviglioso di poggi e su un più lontano aperto orizzonte si delinea l'unità cresta de l'Appennino e la alle della Sieve si slarga ad oriente; alla confluenza della Carza e della Sieve si sviluppa il borgo di San Piero a Sieve."

Francesco Niccolai, 1914
san-pietro
STORIA

Dopo aver lasciato i pendii settentrionali di Monte Morello si giunge a San Piero a Sieve, piccolo paese di origine medievale dal quale si estende la pianura mugellana, attraversata dalla Sieve, affluente dell'Arno.

Il paese sorge proprio nel punto in cui il torrente Carza sfocia nella Sieve.

Il borgo nasce come nodo stradale presso l'antico ponte sulla Sieve che conduceva, attraverso la via Bolognese, al Passo del Giogo. La sua importanza deriva infatti dalla strada postale che fino al XVIII secolo l'attraversava e che era l'unica che permetteva da Firenze di raggiungere Bologna.

L'essere sempre stato un nodo viario di grande rilevanza è l'elemento che caratterizza la storia del paese fin dall'antichità.

Le più antiche tracce di presenza umana nel territorio di San Piero risalgono al Paleolitico Medio. Nelle località di Lucigliano, Toro, Le Mozzette, San Giusto a Fortuna sono stati rinvenuti numerosi strumenti di pietra selce, come punte di lancia, raschiatoi, ecc...

I ritrovamenti archeologici più importanti, però, sono quelli legati alla presenza degli Etruschi, che ci testimoniano la presenza di una società già organizzata in insediamenti stabili a carattere urbano.

Uno dei segni più importanti della presenza etrusca a San Piero é la tomba arcaica delle Mozzette (databile tra il VII ed il VI secolo a.c.), della quale ormai restano visibili solo degli enormi pietroni. La successiva colonizzazione romana ha lasciato sul territorio una diffusa presenza, testimoniata nei nomi delle località e dai ritrovamenti archeologici.

Il nome di San Piero a Sieve pare sia stato attribuito al borgo nel 1117, unendo la denominazione originaria del borgo "Villa Sevae" a quella della Pieve di San Pietro.

Originariamente San Piero a Sieve apparteneva alla potente famiglia feudale degli Ubaldini da Coldaia. L'economia della comunità era esclusivamente rurale e la presenza di un mercato del bestiame favoriva il passaggio e la permanenza di genti. Successivamente i Medici entrarono in possesso di tutta la zona.

San Piero a Sieve ricevette una spinta notevole in relazione all'operosità dei Medici: si ingrandì ed acquisì una certa importanza nel quadro politico mugellano, segnando anche un aumento della popolazione.

Il transito di un numero sempre maggiore di persone rese necessaria la realizzazione di strutture destinate all'accoglienza ed all'ospitalità.

Un'opera che riveste un grande valore strategico per la storia della comunità è la costruzione del ponte sulla Sieve, voluta e finanziata dalla Repubblica Fiorentina nel 1372 e realizzato dai famosi maestri muratori fiorentini Niccolò di Ciardo, Francesco Carletti e Giovanni Mercati.

Fu così costruita una struttura in muratura che andava a sostituire quella in pietra e legname che fino ad allora aveva garantito il passaggio del fiume.

Con questo evento il borgo consolidò la propria funzione di mercatale e luogo di sosta per viaggiatori, commercianti e pellegrini.
  	villa-adami-schifanoia-san-piero-a-sieve

Tra il XIV ed il XV secolo San Piero a Sieve visse il suo momento di maggior prestigio, in relazione ai successi della politica medicea. Fu proprio un questo periodo che questi ultimi edificarono nei dintorni le loro ville - Cafaggiolo e il Trebbio - ed eressero abitazioni anche all'interno del paese: villa Adami e villa Schifanoia.
  	fortezza-san-martino-storia

Sul finire del XVI secolo Cosimo I de' Medici ideò la costruzione della poderosa Fortezza di San Martino, realizzata sulla sommità del colle che domina il borgo.

Dopo aver collaborato nel 1351 con Giovanni de' Medici all'assedio di Scarperia, San Piero fu posta a capo della lega di Tagliaferro che univa tutti i popoli dell'area circostante.

In concomitanza con la caduta dei Medici anche San Piero visse un lungo periodo di stagnazione socio-economica, fino alla fine del XIX secolo quando, con la costruzione della stazione ferroviaria, arrivarono i primi treni favorendo la circolazione di persone e merci.

Per maggiori informazioni su San Piero a Sieve vi invitiamo a visitare il sito del Comune: www.comune.san-piero-a-sieve.fi.it
    {% include 'slidem.html' %}
</div>

<div class="w3-row-padding">





</div>

</body>
</html>
